<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="SGEAuthService" />
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56634/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
                name="WebService1Soap" />
            <endpoint address="http://istp1service.azurewebsites.net/LoginService.svc"
                binding="basicHttpBinding" bindingConfiguration="SGEAuthService"
                contract="Wrapper.ILoginService" name="SGEAuthService" />
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="AFIPWebService.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>